# use glob syntax.
syntax: glob
src/version.cpp
lavavu/LavaVu
lavavu/*.vert
lavavu/*.frag
lavavu/*.so
lavavu/LavaVu
lavavu/html/*
build/*
lavavu.egg-info/*
dist/*
tmp/*
*.log
*.o
*~
*.json
*.gldb
*.csv
*.png
*.swp
*.pyc
*.orig
test/*
archive/*
Images/*
html/*
.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints/*
notebooks/html/*
compiler_flags
edit*.sh
notebooks/*
!notebooks/*.ipynb
