include Makefile
include requirements.txt
recursive-include lavavu shaders/*
recursive-include lavavu html/*
include lavavu/font.bin
include lavavu/dict.json
recursive-include src *.cpp *.c *.cxx *.h *.hpp *.mm
